@import "../sass/common";

:host {
  max-height: 50vh;
  overflow-y: auto;
  background-color: $gray-0;
  margin: auto;
  box-sizing: border-box;
  position: fixed;
  bottom: 0.25rem;
  left: 0;
  right: 0;
  width: calc(100% - 1rem);
  border: 1px solid #ccc;
  border-radius: 6px;
}

hr {
  margin: 0;
}

button {
  font-family: $font-default;
  background-color: $gray-0;
  border: 1px solid;
  border-color: $gray-0;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: 0;

  &:hover {
    background-color: rgba($gray-0, 0.9);
    border-color: rgba($gray-0, 0.9);
  }

  &:focus-visible {
    border: 1px solid $accent-color;
  }

  &:active {
    background-color: rgba($gray-0, 0.8);
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.heading {
  align-items: center;
  background-color: #555;
  color: $gray-0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;

  p {
    margin: 0;
    font-family: $font-default;
  }

  button {
    cursor: pointer;
  }
}
