$font-default: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica,
  arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono",
  "Courier New", monospace;

$gray-0: #fff;
$gray-1: rgba(0, 0, 0, 0.03);
$gray-2: rgba(0, 0, 0, 0.05);
$gray-3: rgba(0, 0, 0, 0.08);
$gray-10: #222;
$accent-color: #158beb;
