@import "../sass/common";

:host {
  border-bottom: 1px solid lightgray;
}

[part="heading"] {
  font-family: $font-default;
  font-size: 1rem;
  grid-template-columns: 2rem auto 1rem 1rem;
  padding: 0.5rem 0.25rem;

  &:hover {
    background-color: $gray-2;
  }
}

:host([expanded]) {
  [part="heading"] {
    background-color: $gray-3;
  }
}

:host([expanded]) .region {
  flex-direction: column;
  padding: 0.24rem 2rem 1rem;
}

::slotted(p) {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

::slotted(*) {
  font-family: $font-default;
  color: $gray-10;
}

::slotted(a) {
  color: $accent-color;
  margin-top: 0.5rem;
}

::slotted(code) {
  background-color: $gray-2;
  border-radius: 6px;
  font-size: 0.8rem;
  font-family: $font-monospace;
  padding: 0.25rem 0.5rem;
}

::slotted(blockquote) {
  background-color: $gray-1;
  border-left: 5px solid $accent-color;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem 0.5rem;
}
