@import "../sass/common";

:host {
  background-color: $gray-0;
  border: 1px solid $gray-1;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

:host([status="moderate"]) {
  background-color: #fcfc62;
}

:host([status="serious"]) {
  background-color: #f4442e;
}

:host([status="critical"]) {
  background-color: red;
}

:host([status="minor"]) {
  background-color: beige;
}
