@import "../sass/common";

:host {
  background-color: $gray-0;
  border: 1px solid $gray-1;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

:host([status="moderate"]) {
  background-color: #f4ac45;
}

:host([status="serious"]) {
  background-color: lighten(#f4442e, 10%);
}

:host([status="critical"]) {
  background-color: darken(#f4442e, 10%);
}

:host([status="minor"]) {
  background-color: #fcfc62;
}
